<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
</head>
<body>

    <nav class="navbar navbar-inverse">


        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/index"><span class="glyphicon glyphicon-new-window"></span> Regresar</a></li>
        </ul>
        </div>
        </div>
    </nav>

    <% if (user){ %>
    
    <div class="container-fluid text-center">    
        <div class="row content">
            <!-- central -->
            <h2 id="administra" class="mb-4 text-center">Administra tus Usuarios</h2>
            <form action="/update" method="POST">
                <input id="id" name="id" value="<%= user.id %>" hidden>

                <legend class="mb-4">Edita los datos de la cita</legend>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-4 col-form-label">Nombre Mascota:</label>
                    <div class="col-sm-2 col-lg-2">
                        <input type="text" id="mascota" name="mascota" class="form-control" value="<%= user.mascota %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-4 col-form-label">correo:</label>
                    <div class="col-sm-2 col-lg-2">
                        <input type="text" id="correo" name="correo" class="form-control" value="<%= user.correo %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-4 col-form-label">Propietario:</label>
                    <div class="col-sm-2 col-lg-2">
                        <input type="text" id="propietario" name="propietario" class="form-control"  value="<%= user.propietario %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-4 col-form-label">Teléfono:</label>
                    <div class="col-sm-2 col-lg-2">
                        <input type="tel" id="telefono" name="telefono" class="form-control"  value="<%= user.telefono %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-4 col-form-label">Fecha:</label>
                    <div class="col-sm-2 col-lg-2">
                        <input type="date" id="fecha" name="fecha" class="form-control" value="<%= user.date %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-4 col-form-label">Sintomas:</label>
                    <div class="col-sm-2 col-lg-2">
                        <textarea id="sintomas" name="sintomas" class="form-control" >"<%= user.sintomas %>"</textarea>
                    </div>
                </div>
                <div class="form-group row">
                <label class="col-sm-4 col-lg-4 col-form-label"></label>
                <div class="col-sm-2 col-lg-2">
                    <button type="submit" class="btn btn-success w-100 d-block">Editar Cita</button>
                </div>
            </div>
            </form>
            <!-- --- -->
        </div>
    </div>

    <% } %>

</body>
</html>
